<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">BENVENUTI</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://www.google.com/maps/@39.235929,9.108483,21z?hl=it-IT">Dove siamo</a></li>
      <li><a href="#introduzione.html">Introduzione</a></li>
      <li><a href="#about.html">Su di noi</a></li>
       <li class="active"><a	HREF= "http://form.jotformeu.com/form/40916128208351">Contatti</a></li>
      <li class="active"><a HREF="http://francesca-oggiano.github.io/prima-pagina.html">Visita il mio primo sito</a></li>
      <li class="dropdown">
       
        <a href="#" class="lista amici-toggle" data-toggle="dropdown">lista amici <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://arianna-neris.github.io/index2.html">Arianna </a></li> 
          <li><a href="http://valentina-marras.github.io/primapagina.html">Valentina</a></li>
          <li><a href="#">amico 3</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </font> 
 </div><!--/.nav-collapse -->
</div>

<a name="welcome-to--pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a><marquee></marquee></h3>
 <font color = "40E0D0">FRANCESCA OGGIANO:
                                     
        
    </script>
 <br><button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span>
</button>
 <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active">
 <hr><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
<p> <div id="fb-root"></div>
    <script>
      
     
       
    </script><font color = "40E0D0">video popcorn:
                                      </font><p/>


<iframe width="560" height="315" src="https://perpi.makes.org/popcorn/1vu0" frameborder
="0"allowfullscreen></iframe>  
  
   <p> <font color=”#4682B4”><i>""La mancanza di vita e la noia di certe materie scolastiche si addicono anche agli insegnanti e quindi le scuole sono piene di uomini e donne presuntuosi e dalle vedute strette il cui orizzonte mentale è limitato alla lavagna e ai libri di testo. Se vi volete rendere conto di quanto siano morti la maggioranza degli insegnanti, basta che leggiate una qualsiasi rivista di pedagogia."</i>
  </font>
<br/> <img src= "http://www.corriereuniv.it/cms/wp-content/uploads/2011/09/diritti-bambini.gif" >
   </p>
   <p>    <iframe width="560" height="315" src="http://www.youtube.com/watch?v=SVeNeN4MoNU" frameborder="0" allowfullscreen></iframe>
    
   </p>
   <p>
   
      
  </p>
  <p>

  </p>
     
   
